*{
    padding:0;
    margin:0;
}
.swiper {
    width: 100vw;
    height: 100vh;
} 
.bg-img{
    width:100%;
    height:100%;
}
.top-logo{
    position: fixed;
    top:0;
    width:100%;
    height:15vw;
    z-index: 1;
    box-sizing: border-box;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width:113px;
}
.icon-img{
    width:21px;
    display: block;
}
.right{
    display: flex;
}
a{
    display: block;
    text-decoration: none;
    color: #000;
    margin-left:6px;
}
.download{
    width:144px;
    height:39px;
    position: absolute;
    bottom:30vw;
    left:50%;
    margin-left:-72px;
    z-index: 1;
}
.box-a{
    width:100%;
    height:100%;
    margin:0;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .top-logo{
        height:18vw;
    }
    .download{
        bottom:36vw;
    }
}